<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On Looker</title>
  <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" href="css/theme.css" rel="stylesheet">
  <link type="text/css" href="css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">On Looker</a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="content">
            <form id="upload-form" class="navbar-search input-append">
              <input id="myImage" type="file" name="myImage">
              <button class="btn" type="submit">Upload</button>
            </form>
            <form id="search-form" class="navbar-search pull-right input-append">
              <input id="keyword" type="text" class="span4" placeholder="Search...">
              <button class="btn" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="content">
            <div id="loader" style="display: none;" class="animate-bottom"></div>
            <div id="myDiv" style="display: none;" class="animate-bottom btn-controls">
              <h3>Matching Result:</h3>
              <h4 id="element"></h4>
              <div id="result-images" class="btn-box-row row-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js'></script>
  <script src="js/index.js"></script>
</body>

</html>